<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Texte</th>
      <th>Date</th>
      <th>Expediteur</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of list()" >
      <td [routerLink]="['/message/'+message.id]">{{message.id}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.texte}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.date | date:"dd/MM/yyyy HH:mm:ss"}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.expediteur.username}}</td>
      <td><a class="btn btn-info" (click)="edit(message.id)">Editer</a></td>
    </tr>
    <tr *ngIf="buttonAdd">
      <td colspan="11"><a class="btn btn-success" (click)="add()">Ajouter</a></td>
    </tr>
    <tr *ngIf="formMessage">
      <td>{{formMessage.id}}</td>
      <td colspan = '2'>< input type="text" [(ngModel)]="formMessage.texte"/></td>

      <td>{{currentUsername}}</td>
      <td><a class="btn btn-info" (click)="save()">Valider</a></td>
      <td><a class="btn btn-warning" (click)="annul()">Annuler</a></td>
    </tr>
    </tbody>
  </table>

</div>
