<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Texte</th>
      <th>Date</th>
      <th>Expediteur</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of list()" >
      <td [routerLink]="['/message/'+message.id]">{{message.id}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.texte}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.date}}</td>
      <td [routerLink]="['/message/'+message.id]">{{message.expediteur}}</td>
      <td><a class="btn btn-info" (click)="edit(message.id)">Editer</a></td>
      <td><a class="btn btn-danger" (click)="delete(message.id)">Supprimer</a></td>
    </tr>
    <tr *ngIf="buttonAdd">
      <td colspan="11"><a class="btn btn-success" (click)="add()">Ajouter</a></td>
    </tr>
    <tr *ngIf="formMatiere">
      <td>{{formMatiere.id}}</td>
      <td>{{formMatiere.version}}</td>
      <td><input type="text" [(ngModel)]="formMatiere.id"/></td>
      <td><input type="text" [(ngModel)]="formMatiere.texte"/></td>
      <td><input type="date" [(ngModel)]="formMatiere.dateMsg"/></td>
      <td><input type="text" [(ngModel)]="formMatiere.id"/></td>
      <td><a class="btn btn-info" (click)="save()">Valider</a></td>
      <td><a class="btn btn-warning" (click)="annul()">Annuler</a></td>
    </tr>
    </tbody>
  </table>

</div>
